body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "article nav ads"
      "footer footer footer";
    grid-template-rows: 80px 1fr 70px;  
    grid-template-columns: 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    }  

div {
    padding: 1.2em;
    background: none;
}

header,
nav {
    padding: 1.2em;
    background: rgb(243, 243, 243);
}

#mainNav {
    grid-area: nav;
    height: 100%;
    width: 82vw;
  }

.discussion_container {
    width: 100%;
    height: 10%;
}

.fullContent {
    background: rgb(243, 243, 243);
    height: 100%;
    width: 82vw;
}

.discussion_container {
    width: 98%;
    height: 10%;
}

/* CK Editor Textbox Configuration */
.ck-editor__editable[role="textbox"] {
    /* User entering content area */
    min-height: 100px;
}

#mainNav { 
    grid-area: nav; 
    background: rgb(243, 243, 243);
    height: 95%;
    width: 100%;
}

.full_discussion {
    background: rgb(243, 243, 243);
    height: 100vh;
    width: 82vw;
}